<div class="container">
    <div class="row">
        <div class="col-md-12">
                <app-menu-colfuturo></app-menu-colfuturo>
        </div>
        
    </div>
    <div class="row">
        <app-menu-lateral></app-menu-lateral>
    </div>

    <div class="row">
        <app-pie-pagina></app-pie-pagina>
    </div>
</div>