<script>
    addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    }
</script>

<!-- header-bottom-->
<div class="header-bot">
    <div class="container">
        <div class="row header-bot_inner_wthreeinfo_header_mid">
            <!-- logo -->
            <div class="col-md-3 logo_agile bordes">
                <h1 class="text-center ">
                    <div>
                        <img src="https://www.colfuturo.org/sites/default/files/logo_colfuturo.png" alt="">
                    </div>
                </h1>
            </div>
            <div class="col-md-3 logo_agile bordes">
                <h1 class="text-center">
                    <div>
                        <h5 class="text-right colort ">Luis Fernando Abello Criales</h5>
                        <h6 class="text-right text">cc. 1.764.534</h6>
                    </div>
                </h1>
            </div>
            <div class="col-md-3 logo_agile bordes">
                <h1 class="text-center text">
                    <div>
                        <h5 class="text-left text">Maestria/<strong>Civil Engineering</strong></h5>
                        <h6 class="text-left text">Politecnico Di milano</h6>
                        <h6 class="text-left text">Milano Italia</h6>
                        <h6 class="text-left text">Colfuturo</h6>
                        
                    </div>
                </h1>
            </div>
            <!-- //logo -->
           
        </div>
    </div>
</div>

<!-- //navigation -->