<div class="row">
    <div class="col-md-4">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link active">Acciones
                <ul>
                    <li class="a nav-item">
                        <a class="nav-link">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">Estatus</a>
                    </li>
                    <li class="nav-item">
                        <a class="collapse-item" (click)="validarCartaP()">Cartas de Patrocinio</a>
                    </li>
                </ul>

            </a>

        </li>
        <li class="nav-item">
            <a class="nav-link">Mi informacion</a>
        </li>

    </ul>
</div>
    <div class="col-md-8" *ngIf=validarCarta>
        <app-cartar-patrocinio class="embed-responsive-item"></app-cartar-patrocinio>
    </div>
</div>