<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 mx-auto">
                <p></p>
                <div class="form-group">
                    <h1 class="h3 mb-3 text-secondary">Cartas de patrocinio</h1>
                </div>
                <div class="card_registre" >
                    <div class="card" style="background: #D3D3D3">
                        <div class="card-body text-center">
                            <div class="form-group">
                                <input #aa type="text" id="nombre" name="nombre" class="form-control"
                                    placeholder="Nombre" required>
                            </div>
                            <div class="form-group">
                                <input #ab type="text" id="apellido" name="apellido" class="form-control"
                                    placeholder="Apellido" required>
                            </div>
                            <div class="form-group">
                                <input #ac type="text" id="Cargo" name="Cargo" class="form-control" placeholder="Cargo"
                                    required>
                            </div>
                            <div class="form group">
                                <p class="text-danger">A donde va dirigida</p>
                            </div>
                            <div class="form-group">
                                <input #ad type="text" id="correo" name="correo" class="form-control" placeholder="Correo"
                                    required>
                            </div>
                            <div class="form-group">
                                <input #ae type="text" id="organizacion" name="organizacion" class="form-control"
                                    placeholder="Organización" required>
                            </div>
                            <div class="form-group">
                                <input #af type="text" id="direccion" name="direccion" class="form-control"
                                    placeholder="Dirreción" required>
                            </div>
                            <div class="form-group">
                                <input #ag type="text" id="Detalles" name="Detalles" class="form-control"
                                    placeholder="Detalles(Apt, Ofi. Bloq, etc)" required>
                            </div>
                            <div class="form-group">
                                <input #ah type="text" id="Ciudad" name="Ciudad" class="form-control"
                                    placeholder="Ciudad" required>
                            </div>
                            <div class="form-group">
                                <input #ai type="text" id="Pais" name="Pais" class="form-control" placeholder="Pais"
                                    required>
                            </div>
                            <div class="form-group">
                                <button
                                  (click)="generarDocumento(aa.value, ab.value, ac.value, ad.value, ae.value, af.value, ag.value, ah.value,ai.value)"
                                  class="btn btn-lg btn-primary btn-block text-uppercase " type="submit">Generar Documento</button>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>