<div class="col-md-24">
    <div>
        <a>Cartas de Patrocinio</a>
    </div>
    <div>
        <h3>¿A quien va dirigido?</h3>
    </div>
    <div class="custom-control custom-radio">
        <input type="radio" class="custom-control-input" id="defaultchecked" name="defaultExampleRadios">
        <label (click)="VinteresA()" class="custom-control-label" for="defaultchecked">A quein pueda interesar</label>
    </div>
    <div class="custom-control custom-radio">
        <input type="radio" class="custom-control-input" id="defaultUnChecked" name="defaultExampleRadios" checked>
        <label (click)="formulario()" class="custom-control-label" for="defaultUnChecked">A esta Persona</label>
    </div>




</div>
<div *ngIf=Vformulario>
    <app-formulario-colfuturo></app-formulario-colfuturo>
</div>
<div *ngIf=Vinteres>
    <app-idioma></app-idioma>
</div>